# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

.idea
Client/target
Server/target
/ChatApplicationProject.iml
/Client/Client.iml
/Server/Server.iml
/Server/server_settings.xml
/Server/database_settings.xml
