* {
    -primarycolor: #515E63;
    -secondarycolor: #57837B;
    -ThirdColor:#C9D8B6;
    -fourthColor:#F0E9D2;
    -graycolor: #7D7987;
    -blackcolor: #000000;
    -whitecolor: #ffffff;
    -whiteColorTransparent:#E1E9F1;

    -fontColor:#495057;
    -iconColor:#a6b0cf;
    -test:#57837B;
    -primaryBgColor:#303841;
    -secondBgColor:#36404A;
    -purpleColor:#7269EF;
    -transparnt-bg:#e6ebf5;
    -notificationColorBg:#F5F7FB;
    -fx-font-family: Public Sans,sans-serif;
    -whiteGray:#7a7f9a;
    -blackGray:#9aa1b9 ;
    -secondTextColor:#e1e9f1;

}
.vBox{
    -fx-background-color:-primaryBgColor;
}
.secondBGcolor{
    -fx-background-color:-secondBgColor;
}
.fontColor{
    -fx-text-fill: -whiteColorTransparent;
}
.notificationBg{
-fx-background-color:-notificationColorBg;
}

.notificationText{
 -fx-text-fill: #495057;
 -fx-font-weight:bold;
  -fx-font-size: 18px;
}



.notificationHeader{
-fx-text-fill: #495057;
    -fx-font-weight:bold;
    -fx-font-size: 15px;
    -fx-font-style:italic;
}

.secondNotificationHeader{
-fx-text-fill: -whiteGray;
    -fx-font-size: 14px;
}

.specialNotificationHeader{
-fx-text-fill:#495057;
     -fx-font-weight:bold;
        -fx-font-size: 13px;
        -fx-font-style:italic;
}

.specialsNotificationHeader{
-fx-text-fill:#495057;
     -fx-font-weight:bold;
        -fx-font-size: 12px;
        -fx-font-style:italic;
}

.headerFont{
    -fx-text-fill: -whiteColorTransparent;
    -fx-font-weight:bold;
    -fx-font-size: 20px;
}
.SecondHeaderFont{
    -fx-font-weight:bold;
    -fx-font-size: 18px;
}
.transparent-bg{
    -fx-background-color:-transparnt-bg;
}
.radius{
    -fx-background-radius:10px;
}
.textColor{
    -fx-text-fill: -whiteColorTransparent;
    -fx-font-family: Public Sans,sans-serif;
}
.chatText{
    -fx-font-size: 16px;
   
}
.messagerHeader{
    -fx-font-weight:bold;
    -fx-font-size: 14px;
    -fx-font-style:italic;

}
.message{
    -fx-font-size: 14px;
}
.time{
    -fx-font-size: 12px;
    -fx-font-style:italic;

}
.messageNumber{
    /* -fx-color: #ef476e80 ; */
    -fx-background-color: #7269ef54;
    -fx-text-fill: #7269EF;
    -fx-font-weight:bold;

    
}
.btn{
    -fx-font-size: 14px;
    -fx-font-family: Public Sans,sans-serif;
    -fx-background-color: -primaryBgColor;
    -fx-text-fill:-whiteColorTransparent;

    -fx-font-weight:bold;
}
.btnRev{
    -fx-font-family: Public Sans,sans-serif;
    -fx-background-color: -whiteColorTransparent;
    -fx-text-fill:-secondBgColor;
    -fx-font-size: 14px;
    -fx-font-weight:bold;
}

.annocunment{
    -fx-fill: -secondarycolor;
    -fx-font-weight:bold;
    -fx-font-size: 20px;
}
.hBox{
 -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
    -fx-border-color: #e1e9f159;

}
.hBox:hover{
 -fx-background-color: -secondBgColor
}

.hBoxWhite:hover{
-fx-background-color: #495057;
}





.searchFontColor{
-fx-fill: -secondarycolor;
}
.borderBottom{
-fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 1;
    -fx-border-color: #e1e9f159;
}
/*
.list-cell-white { -fx-background-color: #00000000;}
.list-cell-white:odd { -fx-background-color: #00000000; }
.list-cell-white:even { -fx-background-color: #00000000;}
.list-cell-white:selected{
    -fx-background-color: -secondBgColor;
    -fx-text-fill: -secondBgColor;
}

.list-cell { -fx-background-color: #00000000;}
.list-cell:odd { -fx-background-color: #00000000; }
.list-cell:even { -fx-background-color: #00000000;}
.list-cell:selected{
    -fx-background-color: -secondBgColor;
    -fx-text-fill: -secondBgColor;
}*/
.check-box {
    /* default properties */
    selected-box-color: #7269EF;
    box-color: #E1E9F1;
    mark-color: #E1E9F1;
}

.check-box:selected > .box {
    /* background color for selected checkbox */
    -fx-background-color: selected-box-color;
}

.check-box > .box {
    /* background color of unselected checkbox */
    -fx-background-color: box-color;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    /* modify mark color */
    -fx-background-color: mark-color;
}
.btnNotification{
-fx-font-weight:bold;
-fx-background-color:#7269EF;
-fx-border-radius:5;
-fx-font-size: 14px;
 -fx-font-family: Public Sans,sans-serif;
-fx-text-fill:#E1E9F1;
-fx-background-radius:7;
          -fx-border-radius:7;
}
.btnNotification:hover{
          -fx-font-weight:bold;
          -fx-background-color:#E1E9F1;
          -fx-background-radius:7;
          -fx-border-radius:7;
          -fx-font-size: 14px;
          -fx-font-family: Public Sans,sans-serif;
          -fx-text-fill:#7269EF;
          -fx-border-width:2;
          -fx-border-color:#7269EF;
 }
//profile Admin


.profileHeader{


}
.fieldHeader{
-fx-text-fill: -blackGray;
    -fx-font-size: 14px;

}
.fieldText{
-fx-text-fill: -secondTextColor;
    -fx-font-size: 14px;
    -fx-font-weight:bold;
}
.adminTextField{

}

.tfBox{
-fx-background-color:transparent;
-fx-border-color:#7269EF;
-fx-border-width: 0px 0px 1px 0px;
}

.tfinput{
    -fx-background-color:transparent;
    -fx-text-fill:#E1E9F1;
    -fx-font-size:11;
    -fx-font-weight:bold;
    -fx-prompt-text-size : 8;
    -fx-prompt-text-fill : -blackGray;
}
.tfinputHeader{
    -fx-background-color:transparent;
    -fx-text-fill:#E1E9F1;
    -fx-font-size:14;
    -fx-font-weight:bold;
    -fx-prompt-text-size : 12;
    -fx-prompt-text-fill : -whiteColorTransparent;
}

.borderWhite{
-fx-border-color:red;
-fx-border-width: 40px;
}
.shadow
{
    -fx-effect : dropShadow( three-pass-box, rgba(0,0,0,0.2) , 10.0, 0.0, 0.0, 10.0 );
}

.icons {
  -fx-background-color: transparent;
  -fx-effect : dropShadow( three-pass-box, rgba(0,0,0,0.2) , 10.0, 0.0, 0.0, 10.0 );
}
.button-pressing:pressed {
  -fx-background-color: #7269ef;
  -fx-background-radius: 5;
  -fx-border-color: transparent;
}

.side-bar-buttons:hover {
  -fx-border-radius: 5;
  -fx-border-color: #7269EF;
}

.btnGender{

 -fx-border-radius:5;
 -fx-border-width: 0px 0px 2px 0px;
 -fx-font-size:14;
 }
 .btnGender:hover{
           -fx-font-weight:bold;

           -fx-background-radius:5;
           -fx-border-radius:5;
           -fx-border-width: 0px 0px 2px 0px;
  }




