

.list-cell { -fx-background-color: #00000000;}
.list-cell:odd { -fx-background-color: #00000000; }
.list-cell:even { -fx-background-color: #00000000;}
.list-cell:selected{
    -fx-background-color: #E1E9F1;
    -fx-text-fill: #303841;
}

